.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 80%;
  gap: 15px;
}

.mat-card {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 10px;
}

.button {
  margin-right: 5px;
}

.image {
  max-width: 300px;
}

.example-spacer {
  flex: 1 1 auto;
}