<div class="container">
  <mat-toolbar-row *ngIf="canEdit">
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="openDialog()">Add procuct</button>
  </mat-toolbar-row>
  <mat-card class="card" *ngFor="let product of products">
    <app-product-card [card]="product"></app-product-card>
    <mat-card-actions>
      <button mat-raised-button color="primary" mat-button (click)="addToBasket(product)" type="button">Buy</button>
      <button mat-raised-button color="primary" mat-button [routerLink]="['/product', product.id]">Details</button>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Edit</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog(product)">Edit</button>
        <button mat-menu-item (click)="deleteItem(product.id)">Delete</button>
      </mat-menu>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
