<div class="container">
  <mat-card class="card" *ngFor="let product of products">
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-title>Shiba Inu</mat-card-title>
    <img class="image" mat-card-image src="../../../assets/macbook.jpeg" alt="product">
    <mat-card-content>
      <p>Price: $2000</p>
      <p>Chip:200</p>
      <p>Year: 2000</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" mat-button>Buy</button>
      <button mat-raised-button color="primary" mat-button>Details</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>